<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<form action="login" method="post" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="username" id="username" required>
				<label for="Password">
					<i class="fas fa-user"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<a href="/Welcome"><input type="submit" value="Login"></a>
			</form>
		</div>
	</body>
</html>