<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        .position{
            position:absolute;
            top:170px;
        
        }
        </style>
</head>
<body>
    <center>
      
        <p>
            <h1 class="position" style="color:rgb(20, 20, 212)">Job search means an instance of active contact with a potential Employer to apply for a job, and includes a contact by phone or in person, by submitting a written application, or by attending a job interview.</h1>
        </p>
      
        </center>
</body>
</html>