<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>manual search</title>
    <style>
    .center{
            margin:0;
            position:absolute;
            top:50%;
            left:32%;
            -ms-transform:translateY(-50%);
            transform:translateY(-50%);
    }
    </style>
</head>
<body>
        <!---<div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
        </div>--->
        <div class="center">
        <a href="/apply_job"><button type="button" class="btn btn-secondary btn-lg btn-block" style="border:1px solid rgb(107, 107, 241)">APPLY JOBS</button></a> 
        <a href="/manualrecommendation"><button type="button" class="btn btn-secondary btn-lg btn-block" style="border:1px solid rgb(107, 107, 241)">GET RECOMMENDATION THROUGH SEARCH</button></a> 
        <a href="/chatbotrecommendation"><button type="button" class="btn btn-secondary btn-lg btn-block" style="border:1px solid rgb(107, 107, 241)">GET RECOMMENDATION THROUGH CHATBOT</button></a>
       </div>
    </body>
</html>